.leaflet-control-layers-expanded {
  color: white;
	background-color: #323132;
  font-size: 20px;
}

#my-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

h1, h3  {
  margin: 0;
}

.column {
  float: right;
  color: #afafaf;
  background: #323132;
  padding: 12px;
  margin-left: 15px;
}

#title-container {
  color: #afafaf;
  position: absolute;
  z-index: 1000;
  top: 11px;
  left: 56px;
  background: #323132;
  padding: 15px;
}
